<!-- Row -->
<div class="row">
	<div *ngIf="keyword && !loading" class="col-md-12">
		<h3 class="mb-3">Results for: {{keyword}} (ranked by quality of match)</h3>
		<div *ngIf="response['results']&&response['results'].length != 0; else no_results" >
			<kt-portlet *ngFor="let topic of response['results']" [class]="'kt-portlet--border-bottom-brand'">
				<kt-portlet-body [class]="'kt-portlet__body--fluid'">
					<div>
						
						<div>
							<a [routerLink]="['/report', topic['slug']]">
								<h4 class="{{topic['slug']}}">{{topic['title']}}</h4>
							</a>
							<div class="links-container">
								<div class="keyword-cont">
									<span class="title">Field: </span>
									<a [routerLink]="['/report', topic['field']['slug']]" class="field" attr.data-title="{{topic['field']['slug']}}">
										{{topic['field']['title']}}
									</a>
								</div>
								<div class="keyword-cont">
									<span class="title">Categories: </span>
									<a *ngFor="let category of topic['categories']; let isLast=last" [routerLink]="['/report', category['slug']]" class="field" attr.data-title="{{category['slug']}}">
										{{category['title']}}{{isLast ? '' : ', '}}
									</a>
								</div>
							</div>
							<div class="keyword-cont">
								<span class="title">Keywords: </span>
								<span class="" *ngFor="let singleKeyword of topic['keywords']; let isLast=last">
									{{singleKeyword}}{{isLast ? '' : ', '}}
								</span>
							</div>
						</div>
					
					</div>
					
				</kt-portlet-body>
			</kt-portlet>
		</div>
		<ng-template #no_results>
			<div>
				Sorry, no results for {{keyword}}.
			</div>
		</ng-template>
	</div>
	
</div>