.keyword-cont {
	margin-bottom: 12px;
	margin-right: 20px;
	display: inline-block;
	.title {
		color: #74788d;
	}
}

.field {
	font-weight: 500;
}

.search-input {
	display: inline-block;
	width: auto;
}