<div class="kt-section">
	<div class="kt-section__content">
		<div class="mobile-search">
			<button class="btn mb-2" (click)="toggleSearch()"><i class="flaticon2-search-1"></i>Search</button> 
		</div>
		<div *ngIf="dataLoaded">
			<div *ngIf="!(user$ | async) as _user; else chartContainer">
				<div *ngIf="restricted; else chartContainer">
						<div class="col-md-6">
							<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand'">
								<kt-portlet-body [class]="'kt-portlet__body--fluid'">
									<div class="restricted-text">
										<h5>Please <a [routerLink]="['/auth/login']">log in</a> or <a [routerLink]="['/auth/register']">register</a> to view the corresponding analysis.</h5>
									</div>
								</kt-portlet-body>
							</kt-portlet>
						</div>								
				</div>
			</div>
		</div>
		<ng-template #chartContainer>
			<ngb-tabset type="pills" >
				<ngb-tab title="Input">
					<ng-template ngbTabContent>
						<!--<kt-portlet *ngIf="chartData" [class]="'kt-portlet--border-bottom-brand'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<kt-table *ngIf="chartData['table1']" [chartTitle]="'l1_d4_innovations'" [chartData]="chartData['table1']" style="width: 100%"></kt-table>
							</kt-portlet-body>
						</kt-portlet>
						<div class="kt-space-20"></div>-->
						<kt-portlet *ngIf="chartData" [class]="'kt-portlet--border-bottom-brand'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<kt-echart1 *ngIf="chartData['chart1']" [chartTitle]="this.reportTitle" [chartData]="chartData['chart1']" [filters]="filters" style="width: 100%"></kt-echart1>
							</kt-portlet-body>
						</kt-portlet>
						<div class="kt-space-20"></div>
						<kt-portlet *ngIf="chartData"  [class]="'kt-portlet--border-bottom-brand'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<kt-echart2 *ngIf="chartData['chart2']" [chartTitle]="this.reportTitle"  [chartData]="chartData['chart2']" [filters]="filters" style="width: 100%"></kt-echart2>
							</kt-portlet-body>
						</kt-portlet>
						<div class="kt-space-20"></div>
						<kt-portlet *ngIf="chartData" [class]="'kt-portlet--border-bottom-brand'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<!--<kt-echart [chartTitle]="'l1_d1_year_activitytype_funding'"></kt-echart>-->
								<kt-echart3 *ngIf="chartData['chart3']" [chartTitle]="this.reportTitle" [chartData]="chartData['chart3']" [filters]="filters" style="width: 100%"></kt-echart3>
							</kt-portlet-body>
						</kt-portlet>
						<div class="kt-space-20"></div>
						<kt-portlet *ngIf="chartData" [class]="'kt-portlet--border-bottom-brand'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<kt-echart4 *ngIf="chartData['chart4']" [chartTitle]="this.reportTitle"  [chartData]="chartData['chart4']" [filters]="filters" style="width: 100%"></kt-echart4>
							</kt-portlet-body>
						</kt-portlet>
						<div class="kt-space-20"></div>
						
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Throughput/Output">
					<ng-template ngbTabContent>
						<!--<kt-portlet *ngIf="chartData" [class]="'kt-portlet--border-bottom-brand'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<kt-table *ngIf="chartData['table2']" [chartTitle]="'l1_d4_innovations'" [chartData]="chartData['table2']" style="width: 100%"></kt-table>
							</kt-portlet-body>
						</kt-portlet>
						<div class="kt-space-20"></div>-->
						<kt-portlet *ngIf="chartData" [class]="'kt-portlet--border-bottom-brand'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<kt-echart5 *ngIf="chartData['chart5']" [chartTitle]="this.reportTitle" [chartData]="chartData['chart5']" [filters]="filters" style="width: 100%"></kt-echart5>
							</kt-portlet-body>
						</kt-portlet>
						<div class="kt-space-20"></div>
						<kt-portlet *ngIf="chartData" [class]="'kt-portlet--border-bottom-brand'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<kt-echart6  *ngIf="chartData['chart6']" [chartTitle]="this.reportTitle" [chartData]="chartData['chart6']" [filters]="filters" style="width: 100%"></kt-echart6>
							</kt-portlet-body>
						</kt-portlet>
						<div class="kt-space-20"></div>
						<kt-portlet *ngIf="chartData"  [class]="'kt-portlet--border-bottom-brand'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<kt-echart7 *ngIf="chartData['chart7']" [chartData]="chartData['chart7']" [chartTitle]="this.reportTitle" [filters]="filters" style="width: 100%"></kt-echart7>
							</kt-portlet-body>
						</kt-portlet>
						<div class="kt-space-20"></div>
						<kt-portlet *ngIf="chartData"  [class]="'kt-portlet--border-bottom-brand'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<kt-echart8 *ngIf="chartData['chart8']" [chartData]="chartData['chart8']" [chartTitle]="this.reportTitle" [filters]="filters" style="width: 100%"></kt-echart8>
							</kt-portlet-body>
						</kt-portlet>
						<div class="kt-space-20"></div>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Academic Impact">
					<ng-template ngbTabContent>
						<!--<kt-portlet *ngIf="chartData" [class]="'kt-portlet--border-bottom-brand'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<kt-table *ngIf="chartData['table3']" [chartTitle]="'l1_d4_innovations'" [chartData]="chartData['table3']" style="width: 100%"></kt-table>
							</kt-portlet-body>
						</kt-portlet>
						<div class="kt-space-20"></div>-->
						<kt-portlet *ngIf="chartData"  [class]="'kt-portlet--border-bottom-brand'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<kt-echart9 *ngIf="chartData['chart9']" [chartData]="chartData['chart9']" [chartTitle]="this.reportTitle" [filters]="filters" style="width: 100%"></kt-echart9>
							</kt-portlet-body>
						</kt-portlet>
						<div class="kt-space-20"></div>
						<kt-portlet *ngIf="chartData"  [class]="'kt-portlet--border-bottom-brand'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<kt-echart10 *ngIf="chartData['chart10']" [chartData]="chartData['chart10']" [chartTitle]="this.reportTitle" [filters]="filters" style="width: 100%"></kt-echart10>
							</kt-portlet-body>
						</kt-portlet>
						<div class="kt-space-20"></div>
						<kt-portlet *ngIf="chartData"  [class]="'kt-portlet--border-bottom-brand'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<kt-echart11 *ngIf="chartData['chart11']" [chartData]="chartData['chart11']" [chartTitle]="this.reportTitle" [filters]="filters" style="width: 100%"></kt-echart11>
							</kt-portlet-body>
						</kt-portlet>
						<div class="kt-space-20"></div>
						<kt-portlet *ngIf="chartData"  [class]="'kt-portlet--border-bottom-brand'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<kt-echart12  *ngIf="chartData['chart12']" [chartData]="chartData['chart12']" [chartTitle]="this.reportTitle" [filters]="filters" style="width: 100%"></kt-echart12>
							</kt-portlet-body>
						</kt-portlet>
						<div class="kt-space-20"></div>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Economic Impact">
					<ng-template ngbTabContent>
						<!--<kt-portlet *ngIf="chartData" [class]="'kt-portlet--border-bottom-brand'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<kt-table *ngIf="chartData['table4']" [chartTitle]="'l1_d4_innovations'" [chartData]="chartData['table4']" style="width: 100%"></kt-table>
							</kt-portlet-body>
						</kt-portlet>
						<div class="kt-space-20"></div>-->
						<kt-portlet *ngIf="chartData"  [class]="'kt-portlet--border-bottom-brand'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<kt-echart13 *ngIf="chartData['chart13']" [chartData]="chartData['chart13']" [chartTitle]="this.reportTitle" [filters]="filters" style="width: 100%"></kt-echart13>
							</kt-portlet-body>
						</kt-portlet>
						<div class="kt-space-20"></div>
						<kt-portlet *ngIf="chartData"  [class]="'kt-portlet--border-bottom-brand'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<kt-echart14 *ngIf="chartData['chart14']" [chartData]="chartData['chart14']" [chartTitle]="this.reportTitle" [filters]="filters" style="width: 100%"></kt-echart14>
							</kt-portlet-body>
						</kt-portlet>
						<div class="kt-space-20"></div>
						<kt-portlet *ngIf="chartData"  [class]="'kt-portlet--border-bottom-brand'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<kt-echart15 *ngIf="chartData['chart15']" [chartData]="chartData['chart15']" [chartTitle]="this.reportTitle" [filters]="filters" style="width: 100%"></kt-echart15>
							</kt-portlet-body>
						</kt-portlet>
						<div class="kt-space-20"></div>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Societal Impact">
					<ng-template ngbTabContent>
						<!--<kt-portlet *ngIf="chartData" [class]="'kt-portlet--border-bottom-brand'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<kt-table *ngIf="chartData['table5']" [chartTitle]="'l1_d4_innovations'" [chartData]="chartData['table5']" style="width: 100%"></kt-table>
							</kt-portlet-body>
						</kt-portlet>
						<div class="kt-space-20"></div>-->
						<kt-portlet *ngIf="chartData"  [class]="'kt-portlet--border-bottom-brand'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<kt-echart16 *ngIf="chartData['chart16']" [chartData]="chartData['chart16']" [chartTitle]="this.reportTitle" [filters]="filters" style="width: 100%"></kt-echart16>
							</kt-portlet-body>
						</kt-portlet>
						<div class="kt-space-20"></div>
						<!--<kt-portlet [class]="'kt-portlet--border-bottom-brand'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<kt-echart17 [chartTitle]="'l1_d5_medicinetype_medicinesubtype_medicinenumber'" style="width: 100%"></kt-echart17>
							</kt-portlet-body>
						</kt-portlet>
						<div class="kt-space-20"></div>-->
						<kt-portlet *ngIf="chartData"  [class]="'kt-portlet--border-bottom-brand'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<kt-echart18 *ngIf="chartData['chart17']" [chartData]="chartData['chart17']" [chartTitle]="this.reportTitle" [filters]="filters" style="width: 100%"></kt-echart18>
							</kt-portlet-body>
						</kt-portlet>
						<div class="kt-space-20"></div>
						<kt-portlet *ngIf="chartData"  [class]="'kt-portlet--border-bottom-brand'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<kt-echart19 *ngIf="chartData['chart18']" [chartData]="chartData['chart18']" [chartTitle]="this.reportTitle" [filters]="filters" style="width: 100%"></kt-echart19>
							</kt-portlet-body>
						</kt-portlet>
					</ng-template>
				</ngb-tab>
			</ngb-tabset>
		</ng-template>
		

		
	</div>

</div>

