:host {
	::ng-deep {
		ngb-tabset > .nav-tabs {
			display: none;
		}
		.restricted-text {
			a {
				color: #0abb87;
				transition: opacity 0.3s;
				&:hover {
					opacity: 0.7;
				}
			}
		}
	}
}

@media (min-width: 1025px) {
	.mobile-search {
		display: none;
	}
}