:host {
	::ng-deep {
		.kt-loading-bar {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;

			.progress-bar {
				// brand color
				background-color: #5d78ff;
			}
		}

		.kt-header__topbar-item {
			height: 100%;
		}
		
		.search-row {
			background-color: #fff;
			padding: 10px 20px;
			box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.08);
		}

		@media (min-width: 1025px) {
			.kt-header__topbar, .kt-header__topbar-item-wrapper {
				height: 100%;
			}
		}
	}
}

