<!-- begin: Header -->
<div ktHeader #ktHeader class="kt-header kt-grid__item" [ngClass]="htmlClassService.getClasses('header', true)" id="kt_header">
	<ngb-progressbar class="kt-loading-bar" *ngIf="(loader.progress$|async) > 0" [value]="loader.progress$|async" height="3px"></ngb-progressbar>

	<!-- begin: Header Menu -->
	<kt-menu-horizontal *ngIf="menuHeaderDisplay"></kt-menu-horizontal>
	<!-- end: Header Menu -->

	<!-- begin:: Header Topbar -->
	<!-- empty div to fix topbar to stay on the right when menu-horizontal is hidden -->
	<div *ngIf="!menuHeaderDisplay"></div>
	<kt-topbar></kt-topbar>
	<!-- end:: Header Topbar -->
</div>
<!-- end: Header -->
<!-- begin: Subheader for search Results -->
<div *ngIf="title=='Search Results'" class="search-row">
	<div class="form-inline">
		<input class="form-control mx-sm-3" name="keywordSearch" type="text" placeholder="Keyword" [(ngModel)]="keywordSearch">	<a [routerLink]="['/search-results']" (click)="search()" class="btn btn-label-primary my-2 my-sm-0 mr-5" type="submit">
			<i _ngcontent-sjs-c3="" class="fa fa-search mr-1"></i> Search
		</a>
		<a [routerLink]="['/browse-topics']" class="my-2 btn btn-primary" style="display: inline-block">
			Browse all topics
		</a>
	</div>
</div>

