<!-- begin::Sticky Toolbar *ngIf="title !=='Report'"-->
<!-- <ul *ngIf="pageTitle =='Report'" class="kt-sticky-toolbar" style="margin-top: 30px;">-->
<ul [hidden]="pageTitle !='Report'" class="kt-sticky-toolbar" style="margin-top: 30px;">
	<li class="kt-sticky-toolbar__item kt-sticky-toolbar__item--success" id="kt_demo_panel_toggle" data-placement="left" ngbTooltip="Filter Options" placement="right">
		<a href="javascript:;" class=""><i class="flaticon-interface-7"></i></a>
	</li>

</ul>

<!-- end::Sticky Toolbar -->

<!-- begin::Demo Panel -->
<div ktOffcanvas [options]="demoPanelOptions" id="kt_demo_panel" class="kt-demo-panel">
	<div class="kt-demo-panel__head">
		<h3 class="kt-demo-panel__title">
			Filter Results
		</h3>
		<a href="javascript:;" class="kt-demo-panel__close" id="kt_demo_panel_close"><i class="flaticon2-delete"></i></a>
	</div>
	<div class="filter-container">
		<div class="kt-demo-panel__item-title">
			Filter by country
		</div>
		<div class="filter-country mb-4">
			<form [formGroup]="stateForm">
				<mat-form-field>
					<input type="text" matInput placeholder="Country" formControlName="stateGroup" [matAutocomplete]="autoGroup">
					<mat-autocomplete #autoGroup="matAutocomplete">
						<mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">
							<mat-option *ngFor="let name of group.names" [value]="name">
								{{name}}
							</mat-option>
						</mat-optgroup>
					</mat-autocomplete>
				</mat-form-field>
			</form>
		</div>
		<div class="kt-demo-panel__item-title">
			Filter by participating organisation
		</div>
		<div class="filter-country mb-4">
			<form [formGroup]="stateForm">
				<mat-form-field>
					<input type="text" matInput placeholder="Organisation" formControlName="stateGroup" [matAutocomplete]="autoGroup">
					<mat-autocomplete #autoGroup="matAutocomplete">
						<mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">
							<mat-option *ngFor="let name of group.names" [value]="name">
								{{name}}
							</mat-option>
						</mat-optgroup>
					</mat-autocomplete>
				</mat-form-field>
			</form>
		</div>
		<div class="kt-demo-panel__item-title">
			Time range
		</div>
		<div class="time-slider-cont">
			<span>2000</span>
			<div class="nouislider-cont">
				<nouislider #slider [config]="someKeyboardConfig" [(ngModel)]="sliderRange"></nouislider>
			</div><span>2030</span>
		</div>
		<div class="">
			<br>
			<a href="javascript:;" id="kt_demo_panel_close_external" (click)="updateReport()"><button type="button"
					class="btn btn-primary">Filter</button></a>
		</div>
		<div class="disabled"></div>
	</div>
</div>
<!-- end::Demo Panel -->