<div class="kt-echart kt-echart16 row">
	<div class="kt-echart16__chart col-md-9" #echart>
	</div>
	<div class="chart-select col-md-3">
		<kt-chart-controller [chartOptions]="filterData" (countChanged)="countChangedHandler($event)" (resetChart)="resetChartHandler()"></kt-chart-controller>
	</div>
</div>
