:host {
	.kt-aside {
		height: 100%;

		.kt-aside-menu {
			margin: 0;
		}
	}

	// fixed text line break issue on minimized aside hover
	.kt-menu__link-text {
		white-space: nowrap;
	}
}

.kt-filter-sidebar {
	/*position: absolute;
	left: -25px;
	top: 0;
	height: 100%;
	z-index: 1;*/
}