.kt-form {
    max-width: 700px;
}

.search-field-btn:not(landing) {
    padding: 0px;
    margin-top: 0px !important;
}

.overview-link {
    color: #5578eb;
    margin-top: 8px;
    margin-bottom: 15px;
    display: inline-block;
    font-size:13px;
}

.mat-expansion-panel-body{
    .overview-link {
        margin-top: 0px;
        margin-bottom:0px;
    }
}
