<div style="">
	<div class="kt-section">
		<!--<span *ngIf="closeResult" class="kt-section__sub">
		<pre>{{closeResult}}</pre>
		</span>-->
		<div class="kt-section__content">
			<ng-template #content let-c="close" let-d="dismiss">
				<div class="modal-header">
					<h4 class="modal-title">Browse Topics</h4>
					<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>
						<select class="custom-select mr-2" id="inputGroupSelect01" style="background-color: #fff; font-size: 16px;" (change)="onFieldChange($event.target.value)">
							<option value="none" selected>Select a Field</option>
							<option value="health">Health</option>
						</select>
					</p>
					<div *ngIf="fieldChosen" class="">
							<!--<a class="overview-link" [routerLink]="['/report']" (click)="c('Close click'); closeSearch()">&#187; Field Overview</a>-->
							<span class="overview-link" (click)="c('Close click'); closeSearch()">&#187; Field Overview</span>
						<mat-accordion>
						 <!-- <mat-expansion-panel *ngFor="let category of topicCategories"> -->
						 <mat-expansion-panel *ngFor="let majorCat of objectKeys(catList)">
							<mat-expansion-panel-header>
							  <mat-panel-title>
								{{majorCat}}
							  </mat-panel-title>
							</mat-expansion-panel-header>

							<!--<p *ngFor="let minor of category.minor">-->
							<p>
								<!--<a class="overview-link" [routerLink]="['/report']" (click)="c('Close click'); closeSearch()">-->
									&#187; Major Topic Overview
								<!--</a>-->
							</p>
							<p *ngFor="let minorCat of objectKeys(catList[majorCat])">
							  <!--<a [routerLink]="['/report']" (click)="c('Close click'); closeSearchSidebar();"  attr.data-cat="{{catList[majorCat][minorCat]}}">{{minorCat}}</a>-->
							  <span (click)="c('Close click'); closeSearchSidebar();" attr.data-cat="{{catList[majorCat][minorCat]}}">{{minorCat}}</span>
							</p>
						  </mat-expansion-panel>
						</mat-accordion>
					</div>										
					
				</div>
				

				<div class="modal-footer">
				<button type="button" class="btn btn-secondary" (click)="c('Close click'); closeSearchSidebar();">Close</button>
				<!--<button type="button" class="btn btn-primary">Show results</button>-->
				</div>
			</ng-template>
			
		</div>
	</div>
	<div style="margin-bottom: 20px;">
		<button class="btn mt-3 search-field-btn" [ngClass]="{'btn-lg': page=='landing'}" (click)="open(content)">Browse all topics</button>
	</div>
</div>
					
