<!-- begin::Search Panel -->
<div ktOffcanvas [options]="demoPanelOptions" id="kt_search_panel" class="kt-demo-panel">

	<div class="kt-demo-panel__head">
		<h3 class="kt-demo-panel__title">
			Search
		</h3>
		<a href="javascript:;" class="kt-demo-panel__close" id="kt_search_panel_close"><i
				class="flaticon2-delete"></i></a>
	</div>
	<div class="kt-demo-panel__body kt-scroll">
		<div class="kt-demo-panel__item">
			<div class="mb-2">
				<mat-accordion class="acc-search">
					<!-- Topic Search -->
					<mat-expansion-panel [expanded]="true">
						<mat-expansion-panel-header>
							<mat-panel-title>
								Search Topics
							</mat-panel-title>
						</mat-expansion-panel-header>
						<div>
							<form #searchForm='ngForm' name="search-topic">
								<mat-form-field>
									<input name="keywordSearch" type="text" matInput
										placeholder="Keyword" [(ngModel)]="keywordSearch">
								</mat-form-field>
								<a [routerLink]="['/search-results']" (click)="closeSidebar()" id="main-search"
									class="btn btn-info my-2 my-sm-0" type="submit">
									<i _ngcontent-sjs-c3="" class="fa fa-search mr-1"></i> Search
								</a>
							</form>
							<a [routerLink]="['/browse-topics']" (click)="closeSidebar()" class="my-2 mt-4" style="display: inline-block">
								Browse all topics
							</a>
						</div>
					</mat-expansion-panel>
					<!-- Portfolio Picker -->
					<mat-expansion-panel [disabled]="!loggedIn" [ngbTooltip]="loggedIn ? '' : portfolioTooltip">
						<mat-expansion-panel-header>
							<mat-panel-title [ngClass]="{'inactive' : loggedIn == false}">
								Pick from my portfolio
							</mat-panel-title>
						</mat-expansion-panel-header>
						<div class="portfolio-pick-container">
							<form name="portfolio-form">
								<mat-form-field>
									<mat-label>Level</mat-label>
									<mat-select name="level"
										(selectionChange)="levelSelected($event)">
										<mat-option *ngFor="let level of levels" [value]="level.value">
											{{level.viewValue}}
										</mat-option>
									</mat-select>
								</mat-form-field>
								<mat-form-field class="portfolio-items" *ngIf="levelIsSelected">
									<input type="text" matInput placeholder="Select Item" aria-label="Select Item"
										[matAutocomplete]="auto" [formControl]="itemCtrl" name="item"
										>
									<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
										<mat-option *ngFor="let item of $filteredItems | async" [value]="item" (onSelectionChange)="itemSelected($event)">
											{{item.title}}
										</mat-option>
									</mat-autocomplete>
								</mat-form-field>
							</form>
						</div>
					</mat-expansion-panel>
				</mat-accordion>
			</div>
		</div>
	</div>
</div>
<!-- end::Search Panel -->