:host {
    ::ng-deep {
        .tooltip {
            white-space: nowrap;
        }
    }

    .kt-sticky-toolbar {
        position: absolute;
        width: 45px;
        right: -45px;
        top: 37%;

        .kt-sticky-toolbar__item > a {
            /*width: 40px;*/
            color: #0abb87;
        }

        .kt-sticky-toolbar__item:hover > a {
            color: #fff;
        }
    }

    .acc-search.mat-accordion {
        .mat-expansion-panel {
            box-shadow: none;
            border-radius: 0px;
			margin-bottom: 10px;
			&.mat-expanded{
				border-left: 2px solid gray;
			}
        }
    }

    .kt-demo-panel {
        .kt-demo-panel__body .kt-demo-panel__item .kt-demo-panel__item-title {
            text-align: left;
        }

        .custom-select, .form-control {
            margin-bottom: 12px;
        }

        .time-slider-cont {
            margin-top: 30px;

            .nouislider-cont {
                display: inline-block;
                width: 192px;
                margin: 0 5px;
            }
        }

        .disabled-group {
            .kt-demo-panel__item-title {
                opacity: 0.3;
            }

            button {
                opacity: 0.3;
            }
        }

        .selected-container {
            margin-bottom: 8px;

            .remove-selected {
                margin-left: 3px;
                font-size: 8px;
                cursor: pointer;
                position: relative;
                top: -8px;
            }
        }
    }
}

.portfolio-items{
    .mat-option-text{
        font-size: 14px;
    }
}
