<!-- Row -->
<div class="row user-dashboard" *ngIf="user$ | async as _user; else registerButtons">
	<div class="col-lg-4 col-xlg-3 col-md-5">
		<kt-portlet [class]="'kt-portlet--border-bottom-brand'">
			<kt-portlet-body [class]="'kt-portlet__body--fluid'">
				<div class=""> 
					<h4 class="card-title m-t-10">User Details</h4>
					<h5 class="card-title m-t-10">{{_user.firstname}} {{_user.lastname}}</h5>

					<p>
						<strong>E-mail: </strong><span>{{_user.email}}</span>
						<br>
						<strong>State: </strong><span>{{_user.state}}</span>
						<br>
					</p>
					<!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat</p>-->
				</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>
	<!-- Column -->
	<div class="col-lg-4 col-xlg-3 col-md-5">
		<kt-portlet [class]="'kt-portlet--border-bottom-brand'">
				<kt-portlet-body [class]="'kt-portlet__body--fluid'">
				<div class=""> 
					<h4 class="card-title m-t-10">My portfolio</h4>
					<div class="">
						<p>
						Click here to browse through the different levels of analysis we have conducted for your organisation (restricted access).
						</p>
						<a [routerLink]="['/portfolio']" class="btn btn-primary mb-3">Portfolio</a>
					</div>
				</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>
	<!-- Column -->
	<div class="col-lg-4 col-xlg-3 col-md-5 inactive">
		<kt-portlet [class]="'kt-portlet--border-bottom-brand'">
				<kt-portlet-body [class]="'kt-portlet__body--fluid'">
				<div class=""> 
					<h4 class="card-title m-t-10">My Favorites</h4>
				</div>
			</kt-portlet-body>
		</kt-portlet>
		
				<kt-portlet [class]="'kt-portlet--border-bottom-brand'">
				<kt-portlet-body [class]="'kt-portlet__body--fluid'">
				<div class=""> 
					<h4 class="card-title m-t-10">Recent Searches</h4>
				</div>
			</kt-portlet-body>
		</kt-portlet>

	</div>
	<!-- Column -->

</div>

<ng-template #registerButtons>
	<div class="register-container">
		<button class="btn btn-sm btn-primary ml-2 mr-2"><a [routerLink]="['/auth/login']">Login</a></button>
		<button type="button" class="btn btn-sm btn-primary ml-2" ngbTooltip="Register your account in order to filter data regarding your program, call, or project, build your own dashboard and monitor topics."><a [routerLink]="['/auth/register']">Register</a></button>
	</div>
</ng-template>