.user-dashboard {
	.portfolio-item-container {
		margin-bottom: 10px;
		h5 {
			margin: 20px 0 10px;
		}
		.portfolio-item {
			margin-bottom: 5px;
		}
		
	}
	.inactive {
		h4 {
			opacity: 0.4;
			cursor: default;
		}
	}
}

/*.landing {
	&-container {
		.btn-primary {
			background-color: #2d2b55;
			border-color: #2d2b55;
			a {
				color: #fff;
			}
		}
		.btn-light {
			background-color: #fff;
			border-color: #fff;
			a {
				color: #2d2b55;
			}
		}
	}
	&-menu {
		position: fixed;
		width: 100%;
		.btn-sm {
		    padding: .25rem .5rem;
			font-size: 12px;
		}
		.register-container {
			float: right;
			padding: 20px 30px;
		}
	}
	&-hero {
		min-height: 300px;
		background-position: center;
		background-size: cover;
		text-align: center;	
		box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
		&-content {
			padding: 120px 10px;
			max-width: 900px;
			margin: 0 auto;
			h1 {
				font-size: 64px;
				margin-bottom: 3rem;
			}
			h2 {
				font-size: 34px;
				line-height: 1.4;
				max-width: 700px;
				margin: 0 auto 3rem;
			}
			p {
				font-size: 22px;
				margin-bottom: 4rem;
			}
		}
	}
	&-search {
		&-container {
			max-width: 800px;
			background-color: #fff;
			margin: -120px auto 120px;
			position: relative;
			padding: 60px 10px;
			border-bottom: 3px solid rgba(93, 120, 255, 0.2);
			border-radius: 4px;
			box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
		}
		&-content {
			max-width: 500px;
			text-align: center;
			margin: 0 auto;
			.form-inline {
				display: block;
			}

		}
	}
}

.dark-skin {
	color: #fff;
}

.btn-lg {
}
*/