:host {
	width: 100%;
	
	.kt-header-menu-wrapper {
		height: 100%;
	}
	.title-container {
		display: flex;
		justify-content: space-between;
		height: 100%;
		align-items: center;
		overflow: hidden;
		.menu-title {
			margin-left: 25px;
			max-width: 850px;
		}
		.title-buttons {
			margin-right: 15px;
			.btn{
				padding: 5px;
				color:#5d78ff;
				margin-right: 5px;
				&:hover{
					background: #e6e6e682;
				}
				.kt-menu__link-icon{
					padding: 5px;
					font-size: 22px;
				}
			}
			.btn.inactive {
				color: #ddd;
				cursor: default;
			}
		}
	}
	@media (min-width: 1024px) {
		#kt_header_menu_wrapper {
			display: none;
		}
	}
	@media (max-width: 1023px) {	
		.title-container {
			display: none;
		}
	}
}
