.reset-password-container {
	.form-container {
		max-width: 800px;
		background-color: #fff;
		margin: 120px auto -120px;
		position: relative;
		padding: 60px 10px;
		border-bottom: 3px solid rgba(93, 120, 255, 0.2);
		border-radius: 4px;
		box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
	}

}
