<!--begin::Body-->
<div class="kt-login__body">
	<!--begin::Signin-->
	<div class="kt-login__form">
		<div class="">
			<div class="kt-login__title">
				<h3>Reset Password</h3>
			</div>
			
			<kt-auth-notice></kt-auth-notice>
			
			<form class="kt-form" [formGroup]="resetPasswordForm" autocomplete="off">
				<div class="form-group">
					<mat-form-field>
						<mat-label>New Password</mat-label>
						<input matInput type="text" placeholder="{{ 'AUTH.INPUT.EMAIL' | translate }}" formControlName="new_password" autocomplete="off"/>
						<mat-error *ngIf="isControlHasError('new_password','required')">
							<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError('new_password','minLength')">
							<strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError('new_password','maxLength')">
							<strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 30</strong>
						</mat-error>
					</mat-form-field>
				</div>
				<div class="form-group">
					<mat-form-field>
						<mat-label>Re-type New Password</mat-label>
						<input matInput type="text" placeholder="{{ 'AUTH.INPUT.EMAIL' | translate }}" formControlName="ver_password" autocomplete="off"/>
						<mat-error *ngIf="isControlHasError('ver_password','required')">
							<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError('ver_password','minLength')">
							<strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError('ver_password','maxLength')">
							<strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 30</strong>
						</mat-error>
						<div>
						<mat-error *ngIf="!passwordsMatch">
							<strong>Fields don't match</strong>
						</mat-error>
						</div>
					</mat-form-field>
				</div>
				<!--begin::Action-->
				<div class="kt-login__actions">
					<button (click)="submit()" id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">{{ 'AUTH.GENERAL.SUBMIT_BUTTON' | translate }}</button>
				</div>
				<!--end::Action-->
			</form>
		</div>
	</div>
</div>