:host {
	.kt-aside {
		height: 100%;
		z-index: 1002;
		.kt-aside-menu {
			margin: 0;
		}
		.inactive {
			//cursor: default;
			cursor: not-allowed;
			//color: red;
			i, span {
				opacity: 0.4;
			}
		}
		.logged-out {
			i, span {
				opacity: 0.4;
			}
		}
	}

	// fixed text line break issue on minimized aside hover
	.kt-menu__link-text {
		white-space: nowrap;
	}
	
	.kt-aside-left {
		position: relative;
		
	}
	.aside-extra-container {
		position: relative;
		z-index: 1003;
		height: 100%;
		/*background: #fff;*/
		background: #1e1e2d;
	}
	.kt-aside-dark .kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__heading .kt-menu__link-text, .kt-aside-dark .kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-text {
		color: #fff;
	}

	.aside-bottom-link{
		background:#fff;
		padding: 12px;
		text-align: center;
		width: 100%;
		display: block;
		position: absolute;
		bottom: 0;
	}


}
