.landing {
    &-container {
        .btn-primary {
            background-color: #2d2b55;
            border-color: #2d2b55;

            a {
                color: #fff;
            }
        }

        .btn-light {
            background-color: #fff;
            border-color: #fff;

            a {
                color: #2d2b55;
            }
        }

        .navbar-brand {
            img {
                max-width: 130px;
                margin-top: 5px;
            }
        }
    }

    &-menu {
        position: absolute;
        width: 100%;

        .btn-sm {
            padding: .25rem .5rem;
            font-size: 12px;
        }

        .register-container {
            float: right;
            padding: 20px 30px;
        }

        .navbar-expand-md {
            justify-content: space-between;
        }
    }

    &-hero {
        color: #2d2b55;
        min-height: 300px;
        background-position: center;
        background-size: cover;
        text-align: center;
        box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);

        &-content {
            padding: 150px 10px 20px;
            max-width: 900px;
            margin: 0 auto;

            h2 {
                font-size: 24px;
                line-height: 1.4;
                max-width: 780px;
                margin: 0 auto 2rem;
            }

            p {
                font-size: 14px;
                margin-bottom: 4rem;
            }
        }
    }

    &-search {
        &-container {
            max-width: 800px;
            background-color: #fff;
            margin: 120px auto -120px;
            position: relative;
            padding: 60px 10px;
            border-bottom: 3px solid rgba(93, 120, 255, 0.2);
            border-radius: 4px;
            box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
        }

        &-content {
            h1 {
                color: #fff;
                font-size: 28px;
                text-shadow: 2px 3px #77737366;
                letter-spacing: 4px;
                position: absolute;
                top: -42px;
				left: 0;
				right: 0;
                //transform: rotate3d(1, 1, 1, -3deg);
            }
            max-width: 500px;
            text-align: center;
            margin: 0 auto;
            .form-inline {
                display: block;
            }
			.search-field-btn {
				font-size: 1.25rem;
				line-height: 1.5;
				margin-bottom: 15px;
			}
        }
    }
}

.dark-skin {
    color: #fff;
}

@media (min-width: 769px) {
    .landing {
		&-container {
				h1 {
					font-size: 60px;
					top: -52px;
					left: auto;
					right: auto;
				}
		}
        &-hero {
            h2 {
                font-size: 28px;
            }

            p {
                font-size: 18px;
            }
        }

        .login-area {
            width: 100%;
        }

        .custom-select, .field-input {
            min-width: 300px;
        }

        &-search {
            &-container {}
        }
    }
}
