<div class="landing-container">
	<div class="landing-menu">
		<header class="topbar">
			<nav class="navbar top-navbar navbar-expand-md navbar-light">
				<div>
					<div class="navbar-header" style="border: none;">
						<a class="navbar-brand" [routerLink]="['/']">
							<img src={{logo}}>
						</a>
					</div>
				</div>			
				<div class="login-area">
					<div class="register-container">
						<kt-user-profile></kt-user-profile>
					</div>
				</div>		
			</nav>
		</header>
	</div>



	<div class="container-fluid" [ngStyle]="{'background-image': 'url('+image+')'}">
		<div class="row justify-content-center text-center ">
			<div class="col-md-6 align-self-center landing-search-container">
				<div class="landing-search-content align-self-center">
					<h1>Data4Impact</h1>
					
					<h2 class="mb-5">Find a topic</h2>
					<div class="form-inline">			
						<input type="text" placeholder="Enter a keyword" class="form-control field-input" style="margin-right: 10px" [(ngModel)]="keywordSearch">				
						<a [routerLink]="['/search-results']" class="btn btn-info my-2 my-sm-0" (click)="clickSearch()" ><i class="fa fa-search mr-1"></i> Search</a>
					</div>						
					<div>
						<a [routerLink]="['/browse-topics']" class="btn search-field-btn mt-3">
							Browse all topics
						</a>
						<a [routerLink]="['/report', 'field:HEALTH']" class="btn btn-primary btn-lg mb-3">See the original Data4Impact Indicators</a>
					</div>
	<!--				
<div (click)="startTour()">Click</div>
<div class="i-want-highlight-this" id="highlight-me"> WOW!</div>
 
<tour-step selector="highlight-me" order="3" position="right" title="title string">

</tour-step>
-->

				</div>
			</div>
		</div>
	</div>
	<div class="landing-hero">
		<div class="landing-hero-content">
			<h2>Big Data Approaches for Improved Assessment of the Societal Impact in the Health, Demographic Change and Wellbeing Societal Challenge</h2>
			<p>
				Using the latest technological advances in machine learning, we developed a novel set of indicators in order to track research and innovation activities and their impact on science, the economy and the society during and after the research lifecycle. Register your account to see and download indicators for your own projects, monitor topics and build your own dashboard. 
			</p>
		</div>
	</div>
</div>
<div class="kt-footer">
	<div class="kt-container">
		<div class="kt-footer__copyright">
			<div>
				Data4Impact is a H2020 Project that has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No 770531. To learn more about the project, click <a href="http://www.data4impact.eu/" target="_blank">here</a>.			
			</div>
		</div>
	</div>
</div>