<!-- Row -->
<div class="portfolio">
	<div class="row">
		<!-- Organizations Column -->
		<div class="col-md-12">
			<kt-portlet [class]="'kt-portlet--border-bottom-brand'">
				<kt-portlet-body [class]="'kt-portlet__body--fluid'">
					<div>
						<div class="title-container" style="display: inline-block;min-width: 300px;">
							<h4 class="card-title m-t-10">Organisations</h4>
							<button class="add-item" (click)="addToPortfolio(all_portfolio, 'Organizations', 'organization' , '', 'organizationOptions')" mat-mini-fab>+</button>
						</div>
						<div id="organizations_list" *ngIf="newOrganizationOptions && newOrganizationOptions.length > 0">
							<div *ngFor="let orgOption of (newOrganizationOptions)" class="portfolio-item-cont" style="display:inline-block;">
								<h6 attr.data-slug="{{orgOption.slug}}">
									<a [routerLink]="['/report' , orgOption.slug]">{{orgOption.title}}</a>
								</h6>
								<button class="remove-sub-item" (click)="removePortfolioModal('Organizations', orgOption.slug, orgOption.title)" mat-mini-fab>&times;</button>
								<button class="add-sub-item" (click)="addToPortfolioPerItem(sub_portfolio, 'Programs', 'program', orgOption.slug, 'programOptions')" mat-mini-fab>+</button>
							</div>
						</div>
					</div>
				</kt-portlet-body>
			</kt-portlet>
		</div>
	</div>
	<div class="row">
		<!-- Programs Column -->
		<div class="col-lg-4 col-xlg-3 col-md-5">
			<kt-portlet [class]="'kt-portlet--border-bottom-brand'">
					<kt-portlet-body [class]="'kt-portlet__body--fluid'">
					<div class="">
						<div class="title-container">
							<h4 class="card-title m-t-10">Programmes</h4>
							<button class="add-item" (click)="addToPortfolio(all_portfolio, 'Programs', 'program' , organization, 'programOptions')" mat-mini-fab>+</button>
						</div>
						 <div id="programs_list" *ngIf="newProgramOptions && newProgramOptions.length > 0">
							<input class="filter-input form-control mb-3" [(ngModel)]="searchTextProgram" placeholder="Filter results">
							<div *ngFor="let programOption of (newProgramOptions) | filterResults : searchTextProgram : 'portfolio'" class="portfolio-item-cont">
								<h6 attr.data-slug="{{programOption.slug}}"><a [routerLink]="['/report' , programOption.slug]">{{programOption.title}}</a></h6>
								<button class="remove-sub-item" (click)="removePortfolioModal('Programs', programOption.slug, programOption.title)" mat-mini-fab>&times;</button>
								<button class="add-sub-item" (click)="addToPortfolioPerItem(sub_portfolio, 'Calls', 'call', programOption.slug, 'singleCallOptions')" mat-mini-fab>+</button>
							</div>
						</div>
					</div>
				</kt-portlet-body>
			</kt-portlet>
		</div>


		<!-- Calls Column -->
		<div class="col-lg-4 col-xlg-3 col-md-5">
			<kt-portlet [class]="'kt-portlet--border-bottom-brand'">
					<kt-portlet-body [class]="'kt-portlet__body--fluid'">
					<div class="">
						<div class="title-container">
							<h4 class="card-title m-t-10">Calls</h4>
							<button class="add-item" *ngIf="permittedAllUser === true" (click)="addToPortfolio(all_portfolio, 'Calls', 'call', program, 'callOptions')" mat-mini-fab>+</button>
						</div>
						<div id="calls_list" *ngIf="newCallOptions && newCallOptions.length > 0" >
							<input class="filter-input form-control mb-3" [(ngModel)]="searchTextCall" placeholder="Filter results">
							<div *ngFor="let nOption of (newCallOptions) | filterResults : searchTextCall : 'portfolio'" class="portfolio-item-cont">
								<h6 attr.data-slug="{{nOption.slug}}"><a [routerLink]="['/report' , nOption.slug]">{{nOption.title}}</a></h6>
								<button class="remove-sub-item" *ngIf="permittedAllUser === true" (click)="removePortfolioModal('Calls', nOption.slug, nOption.title)" mat-mini-fab>&times;</button>
								<button class="add-sub-item" *ngIf="permittedAllUser === true" (click)="addToPortfolioPerItem(sub_portfolio, 'Projects', 'project', nOption.slug, 'projectOptions')" mat-mini-fab>+</button>
							</div>
						</div>
					</div>
				</kt-portlet-body>
			</kt-portlet>
		</div>

		<!-- Projects Column -->
		<div class="col-lg-4 col-xlg-3 col-md-5">
			<kt-portlet [class]="'kt-portlet--border-bottom-brand'">
				<kt-portlet-body [class]="'kt-portlet__body--fluid'">
					<div class="">
						<div class="title-container">
							<h4 class="card-title m-t-10">Projects</h4>
							<button class="add-item" *ngIf="permittedAllUser === true" (click)="addToPortfolio(all_portfolio, 'Projects', 'project' , project, 'projectOptions')" mat-mini-fab>+</button>
						</div>
						<div id="projects_list" *ngIf="newProjectOptions && newProjectOptions.length > 0">
							<input class="filter-input form-control mb-3" [(ngModel)]="searchTextProject" placeholder="Filter results">
							<div *ngFor="let prOption of (newProjectOptions) | filterResults : searchTextProject : 'portfolio'" class="portfolio-item-cont">
								<h6 attr.data-slug="{{prOption.slug}}"><a [routerLink]="['/report' , prOption.slug]">{{prOption.title}}</a></h6>
								<button class="remove-sub-item" *ngIf="permittedAllUser === true" (click)="removePortfolioModal('Projects', prOption.slug, prOption.title)" mat-mini-fab>&times;</button>
							</div>
						</div>
					</div>
				</kt-portlet-body>
			</kt-portlet>
		</div>
		<!-- Column -->
	</div>


	<div class="row">
		<div class="col-md-12">
			<button class="add-item btn btn-primary" (click)="savePortfolio()">Save Portfolio</button>
			<span class="portfolio-updated" [class.show]="portfolioUpdated">Your Portfolio has been updated</span>
			<span class="portfolio-updated error" [class.show]="portfolioNotUpdated">Your session seems to have expired. Please refresh the page.</span>
		</div>
	</div>
</div>

<!-- Modal to get all items -->
<ng-template #all_portfolio let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Select {{modalTitle}}</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body" *ngIf="showList">
		<input class="filter-input form-control mb-3" [(ngModel)]="searchText" placeholder="Filter results">
		<mat-selection-list class="modal-list" [(ngModel)]="this[selectedOption]" (ngModelChange)="onNgModelChange($event)" role="listbox">
			<!--<div *ngFor="let item of (jsonList) | filterResults : searchText : 'portfolio'" role="option">
				<mat-list-option [value]="item.title">
					<span attr.data-slug="{{item.slug}}">{{item.title}}</span>
				</mat-list-option>
			</div>-->
			<div *ngFor="let item of (jsonList)" role="option" [hidden]="item.title.toLowerCase().indexOf(searchText.toLowerCase()) == -1 || item.slug.toLowerCase().indexOf(searchText.toLowerCase()) == -1">
				<mat-list-option [value]="item.title">
					<span attr.data-slug="{{item.slug}}">{{item.title}}</span>
				</mat-list-option>
			</div>
		</mat-selection-list>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-primary" (click)="updateList(modalTitle);c('Close click'); ">Add to Portfolio</button>
		<button type="button" class="btn btn-secondary" (click)="c('Close click');">Close</button>
	</div>
</ng-template>

<!-- Modal to get items per parent item -->
<ng-template #sub_portfolio let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Select {{modalTitle}}</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body" *ngIf="showList">
		<input class="filter-input form-control mb-3" [(ngModel)]="searchText" placeholder="Filter results">
		<mat-selection-list class="modal-list" [(ngModel)]="this[selectedOption]" (ngModelChange)="onNgModelChange($event)" role="listbox">
			<!--<div *ngFor="let item of (jsonSubList) | filterResults : searchText : 'portfolio'" role="option">
				<mat-list-option [value]="item.title">
					<span attr.data-slug="{{item.slug}}">{{item.title}}</span>
				</mat-list-option>
			</div>-->
			<div *ngFor="let item of (jsonSubList)" role="option" [hidden]="item.title.toLowerCase().indexOf(searchText.toLowerCase()) == -1 || item.slug.toLowerCase().indexOf(searchText.toLowerCase()) == -1">
				<mat-list-option [value]="item.title">
					<span attr.data-slug="{{item.slug}}">{{item.title}}</span>
				</mat-list-option>
			</div>
		</mat-selection-list>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" (click)="updateSubList(modalTitle);c('Close click'); ">Add to Portfolio</button>
		<button type="button" class="btn btn-secondary" (click)="c('Close click');">Close</button>
	</div>
</ng-template>

<!-- Remove Item Modal -->
<ng-template #remove_item let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Remove Item from Portfolio</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body" *ngIf="showList" id="{{itemToBeRemovedSlug}}">
			Are you sure you would like to remove '{{itemToBeRemovedName}}'?<span *ngIf="itemToBeRemovedLevel!='Projects'"> All its sub-selections will also be removed.</span>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" (click)="removePortfolioItem();c('Close click'); ">Remove Item</button>
		<button type="button" class="btn btn-secondary" (click)="c('Close click');">Close</button>
	</div>
</ng-template>
