.portfolio {
    &-updated {
        opacity: 0;
        font-size: 20px;
        margin-left: 20px;
        font-weight: 500;
        transition: opacity 0.5s;
        color: #0abb87;
    }
    .error {
        color: red;
    }
    &-not-updated {
        opacity: 1;
    }
    .show {
        opacity: 1;
	}
	kt-portlet-body{
		overflow: hidden;
	}
    .title-container {
        position: relative;

        .add-item {
            font-size: 24px;
            font-weight: 400;
            width: 30px;
            height: 30px;
            line-height: 24px;
            position: absolute;
            top: -4px;
            right: 2px;
        }
	}
	#organizations_list{
		h6{
			padding-right: 60px;
		}
	}
    &-item-cont {
		padding-top: 6px;
		padding-bottom: 6px;
		position: relative;
        h6 {
            line-height: 24px;
			padding-right: 25px;
        }
        .add-sub-item, .remove-sub-item {
            font-size: 17px;
            font-weight: 400;
            width: 25px;
            height: 25px;
            line-height: 12px;
            position: absolute;
			top: 3px;
			right: -80px;
			transition: right 1s;
			visibility: hidden;
        }
        .remove-sub-item {
            background: grey;
		}
		@media (min-width: 1024px) {
			&:hover{
				.add-sub-item, .remove-sub-item {
					visibility: visible;
				}
				.add-sub-item {
					right: -10px;
				}
				.remove-sub-item {
				right: 16px;
				}
			}
		}
    }
    .modal-list {
        padding-left: 5px;
        list-style: none;

        li {
            margin-bottom: 10px;
            cursor: pointer;
        }
    }
}

@media (max-width: 1024px) {
	.portfolio-item-cont{
		border-bottom: solid grey 1px;
		margin-bottom: 15px;
		h6{
			padding-right: 50px;
		}
		.add-sub-item, .remove-sub-item {
			visibility: visible;
		}
		.add-sub-item {
			right: -5px;
		}
		.remove-sub-item {
			right: 30px;
		}
	}
}