<div class="kt-chart-controller">
	<div>
		<form (ngSubmit)="onSubmit()" #loginForm="ngForm" style="padding: 10px;">
			<div class="form-group">
				<angular2-multiselect [data]="chartOptions" [(ngModel)]="selectedItems" 
					[settings]="dropdownSettings" 
					(onSelect)="onItemSelect($event)" 
					(onDeSelect)="OnItemDeSelect($event)"
					(onSelectAll)="onSelectAll($event)"
					(onDeSelectAll)="onDeSelectAll($event)"
					name="multiselect"
				>
				</angular2-multiselect>
				<button mat-raised-button type="submit" class="btn btn-sm mt-2" color="primary">Filter</button>
				<button *ngIf="showResetButton" type="button" class="reset-chart success" color="accent" (click)="onResetChart()" mat-mini-fab><i class="flaticon-refresh"></i></button>
	        </div>
		</form>
	<!--	<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
			
			<button mat-raised-button class="btn btn-sm" color="primary" (click)="reloadTree()">Toggle all</button>
			<br>
			
			
	
			<mat-select-autocomplete
				[placeholder]="'Select Options'"
				[options]="chartOptions"
				[multiple]='true'
				name="optionsSelector"
				
				ngDefaultControl
				[formControl]="profileForm.controls['selected']"
				 *ngIf="enabled"
				>
				
			</mat-select-autocomplete>
			<button mat-raised-button type="submit" class="btn btn-sm" color="primary">Filter</button>
		</form>
		-->
		<!--<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
			<mat-select-autocomplete
				[placeholder]="'Select Options'"
				[options]="chartOptions2"
				[multiple]='true'
				name="optionsSelector"
				ngDefaultControl
				[formControl]="profileForm.controls['selected']">
			</mat-select-autocomplete>
			<button mat-raised-button type="submit" class="btn btn-sm" color="primary">Filter</button>
		</form>-->
	</div>
	
</div>
