<!--<div class="row page-titles">
	<div class="col-md-5 align-self-center">
		<h2 class="text-themecolor">Analyze your data</h2>
	</div>
</div>-->
<!-- Row -->
<div class="row">
	<div class="col-md-12">
		<kt-portlet [class]="'kt-portlet--border-bottom-brand'">
			<kt-portlet-body [class]="'kt-portlet__body--fluid'"> 
				<div>
					<div class="kt-portlet--">
						<div class="kt-portlet__body kt-portlet__body--">
							<div class="kt-grid mb-4">
								<h3 class="card-title m-t-10 ">Would you like us to analyse your data?</h3>
								Permission to be contacted by Athena RC required
								<div class="kt-grid__item kt-grid__item--fluid kt-wizard-v4__wrapper">
									<!--begin: Form Wizard Form-->
									<form class="kt-form" id="kt_form" [formGroup]="analyzeDataForm" autocomplete="off">
										<!--begin: Form Wizard Step 1-->
										<div class="kt-wizard-v4__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
											<div class="kt-heading kt-heading--md">Please enter your contact details</div>
											<div class="kt-form__section kt-form__section--first">
												<div class="kt-wizard-v4__form">
													<div class="form-group">
														<label>First Name <span class="text-danger">*</span></label>
														<input type="text" class="form-control" formControlName="fname" placeholder="First Name" value="Jim">
														<span class="form-text text-muted">Please enter your first name.</span>
														<mat-error *ngIf="isControlHasError('fname','required')">
															<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
														</mat-error>
														<mat-error *ngIf="isControlHasError('fname','minLength')">
															<strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
														</mat-error>
													</div>
													<div class="form-group">
														<label>Last Name <span class="text-danger">*</span></label>
														<input type="text" class="form-control" formControlName="lname" placeholder="Last Name" value="Morisson">
														<span class="form-text text-muted">Please enter your last name.</span>
														<mat-error *ngIf="isControlHasError('lname','required')">
															<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
														</mat-error>
														<mat-error *ngIf="isControlHasError('lname','minLength')">
															<strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
														</mat-error>
													</div>
													<div class="row">
														<div class="col-xl-6">
															<div class="form-group">
																<label>Phone</label>
																<input type="tel" class="form-control" formControlName="phone" placeholder="phone" value="+61412345678">
																<span class="form-text text-muted">Please enter your phone number.</span>
															</div>
														</div>
														<div class="col-xl-6">
															<div class="form-group">
																<label>Email <span class="text-danger">*</span></label>
																<input type="email" class="form-control" formControlName="email" placeholder="Email" value="john.wick@reeves.com">
																<span class="form-text text-muted">Please enter your email address.</span>
																<mat-error *ngIf="isControlHasError('email','required')">
																	<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
																</mat-error>
																<mat-error *ngIf="isControlHasError('email','email')">
																	<strong>{{ 'AUTH.VALIDATION.INVALID_FIELD' | translate }}</strong>
																</mat-error>
																<mat-error *ngIf="isControlHasError('email','minLength')">
																	<strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
																</mat-error>
																<mat-error *ngIf="isControlHasError('email','maxLength')">
																	<strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 320</strong>
																</mat-error>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-xl-6">
															<div class="form-group">
																<label>Company <span class="text-danger">*</span></label>
																<input type="text" class="form-control" formControlName="company" placeholder="Company" value="Company">
																<span class="form-text text-muted">Please enter your company.</span>
																<mat-error *ngIf="isControlHasError('company','required')">
																	<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
																</mat-error>
																<mat-error *ngIf="isControlHasError('company','minLength')">
																	<strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
																</mat-error>
															</div>															
														</div>
														<div class="col-xl-6">
															<div class="form-group">
																<label>Title</label>
																<input type="text" class="form-control" formControlName="title" placeholder="title" value="VIC">
																<span class="form-text text-muted">Please enter your title</span>
															</div>
														</div>
														
													</div>

												</div>
											</div>
										</div>
										<!--end: Form Wizard Step 1-->
										<!--begin: Form Actions -->
										<div class="mb-2">
											<button (click)="onSubmit()" class="btn btn-primary btn-tall btn-wide mt-2">Grant Permission</button>
										</div>
										<!--end: Form Actions -->
										<kt-mail-notice></kt-mail-notice>
									</form>
									<!--end: Form Wizard Form-->
								</div>
							</div>
						</div>

						<div>
							
						</div>
					</div>
				</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>
				