<div class="print-area" id="print_area"> 
	<div class="print-button-area"> 
		<button class="btn btn-primary" (click)="downloadAsPDF()">Print to PDF</button>
		<div style="margin-top: 10px;">For high resolution, download each visualization individually.</div>
	</div>
	<div class="kt-section" id="pdfTable" #pdfTable>
		<div class="kt-section__content">
			<h3>Input</h3>
			<!--<div *ngIf="chartData" [class]="'div--border-bottom-brand chart-container'">
				<div [class]="'kt-portlet__body--fluid'">
					<kt-table *ngIf="chartData['table1']" [chartTitle]="'l1_d4_innovations'" [chartData]="chartData['table1']" style="width: 100%"></kt-table>
				</div>
			</div>
			<div class="kt-space-20"></div>-->
			<div *ngIf="chartData" [class]="'div--border-bottom-brand chart-container'">
				<div [class]="'kt-portlet__body--fluid'">
					<kt-echart1 *ngIf="chartData['chart1']" [chartTitle]="'l1_d1_funding_year'" [chartData]="chartData['chart1']" style="width: 100%"></kt-echart1>
				</div>
			</div>
			<div class="kt-space-20"></div>
			<div *ngIf="chartData"  [class]="'div--border-bottom-brand chart-container'">
				<div [class]="'kt-portlet__body--fluid'">
					<kt-echart2 *ngIf="chartData['chart2']" [chartTitle]="'l1_d1_funding_country'"  [chartData]="chartData['chart2']" style="width: 100%"></kt-echart2>
				</div>
			</div>
			<div class="kt-space-20 page-break"></div>
			<div *ngIf="chartData" [class]="'div--border-bottom-brand chart-container'">
				<div [class]="'kt-portlet__body--fluid'">
					<kt-echart3 *ngIf="chartData['chart3']" [chartTitle]="'l1_d1_year_activitytype_funding'" [chartData]="chartData['chart3']" style="width: 100%"></kt-echart3>
				</div>
			</div>
			<div class="kt-space-20"></div>
			<div *ngIf="chartData" [class]="'div--border-bottom-brand chart-container'">
				<div [class]="'kt-portlet__body--fluid'">
					<kt-echart4 *ngIf="chartData['chart4']" [chartTitle]="'l1_d1_year_researcharea_funding'"  [chartData]="chartData['chart4']" style="width: 100%"></kt-echart4>
				</div>
			</div>
			<div class="kt-space-20 page-break"></div>

			<h3>Throughput</h3>
			<!--<div *ngIf="chartData" [class]="'div--border-bottom-brand chart-container'">
				<div [class]="'kt-portlet__body--fluid'">
					<kt-table *ngIf="chartData['table2']" [chartTitle]="'l1_d4_innovations'" [chartData]="chartData['table2']" style="width: 100%"></kt-table>
				</div>
			</div>
			<div class="kt-space-20"></div>-->
			<div *ngIf="chartData" [class]="'div--border-bottom-brand chart-container'">
				<div [class]="'kt-portlet__body--fluid'">
					<kt-echart5 *ngIf="chartData['chart5']" [chartTitle]="'l1_d2_nof_pubs_per_year'" [chartData]="chartData['chart5']" style="width: 100%"></kt-echart5>
				</div>
			</div>
			<div class="kt-space-20"></div>
			<div *ngIf="chartData" [class]="'div--border-bottom-brand chart-container'">
				<div [class]="'kt-portlet__body--fluid'">
					<kt-echart6  *ngIf="chartData['chart6']" [chartTitle]="'l1_d2_type_number_of_innovations'" [chartData]="chartData['chart6']" style="width: 100%"></kt-echart6>
				</div>
			</div>
			<div class="kt-space-20 page-break"></div>
			<div *ngIf="chartData"  [class]="'div--border-bottom-brand chart-container'">
				<div [class]="'kt-portlet__body--fluid'">
					<kt-echart7 *ngIf="chartData['chart7']" [chartData]="chartData['chart7']" [chartTitle]="'l1_d2_funder_pubs_cited1time_cited5time'" style="width: 100%"></kt-echart7>
				</div>
			</div>
			<div class="kt-space-20"></div>
			<div *ngIf="chartData"  [class]="'div--border-bottom-brand chart-container'">
				<div [class]="'kt-portlet__body--fluid'">
					<kt-echart8-print *ngIf="chartData['chart8']" [chartData]="chartData['chart8']" [chartTitle]="'l1_d1_collaborations_nof_projects'" style="width: 100%"></kt-echart8-print>
				</div>
			</div>
			<div class="kt-space-20 page-break"></div>
			
			<h3>Academic Impact</h3>
			<!--<div *ngIf="chartData" [class]="'div--border-bottom-brand chart-container'">
				<div [class]="'kt-portlet__body--fluid'">
					<kt-table *ngIf="chartData['table3']" [chartTitle]="'l1_d4_innovations'" [chartData]="chartData['table3']" style="width: 100%"></kt-table>
				</div>
			</div>
			<div class="kt-space-20"></div>-->
			<div *ngIf="chartData"  [class]="'div--border-bottom-brand chart-container'">
				<div [class]="'kt-portlet__body--fluid'">
					<kt-echart9 *ngIf="chartData['chart9']" [chartData]="chartData['chart9']" [chartTitle]="'l1_d3_year_topicid_weight_all_together'" style="width: 100%"></kt-echart9>
				</div>
			</div>
			<div class="kt-space-20"></div>
			<div *ngIf="chartData"  [class]="'div--border-bottom-brand chart-container'">
				<div [class]="'kt-portlet__body--fluid'">
					<kt-echart10 *ngIf="chartData['chart10']" [chartData]="chartData['chart10']" [chartTitle]="'l1_d3_topic_strengthDB_strengthprojects'" style="width: 100%"></kt-echart10>
				</div>
			</div>
			<div class="kt-space-20 page-break"></div>
			<div *ngIf="chartData"  [class]="'div--border-bottom-brand chart-container'">
				<div [class]="'kt-portlet__body--fluid'">
					<kt-echart11 *ngIf="chartData['chart11']" [chartData]="chartData['chart11']" [chartTitle]="'l1_d3_funder_percofemergingtopics'" style="width: 100%"></kt-echart11>
				</div>
			</div>
			<div class="kt-space-20"></div>
			<div *ngIf="chartData"  [class]="'div--border-bottom-brand chart-container'">
				<div [class]="'kt-portlet__body--fluid'">
					<kt-echart12  *ngIf="chartData['chart12']" [chartData]="chartData['chart12']" [chartTitle]="'l1_d3_researcharea_patenttype_nofpatents'" style="width: 100%"></kt-echart12>
				</div>
			</div>
			<div class="kt-space-20 page-break"></div>
			
			<h3>Economic Impact</h3>
			<!--<div *ngIf="chartData" [class]="'div--border-bottom-brand chart-container'">
				<div [class]="'kt-portlet__body--fluid'">
					<kt-table *ngIf="chartData['table4']" [chartTitle]="'l1_d4_innovations'" [chartData]="chartData['table4']" style="width: 100%"></kt-table>
				</div>
			</div>-->
			<div class="kt-space-20"></div>
			<div *ngIf="chartData"  [class]="'div--border-bottom-brand chart-container'">
				<div [class]="'kt-portlet__body--fluid'">
					<kt-echart13 *ngIf="chartData['chart13']" [chartData]="chartData['chart13']" [chartTitle]="'innov_per_part'" style="width: 100%"></kt-echart13>
				</div>
			</div>
			<div class="kt-space-20"></div>
			<div *ngIf="chartData"  [class]="'div--border-bottom-brand chart-container'">
				<div [class]="'kt-portlet__body--fluid'">
					<kt-echart14 *ngIf="chartData['chart14']" [chartData]="chartData['chart14']" [chartTitle]="'l1_d4_icdclass_rankgroup_shareinrank'" style="width: 100%"></kt-echart14>
				</div>
			</div>
			<div class="kt-space-20 page-break"></div>
			<div *ngIf="chartData"  [class]="'div--border-bottom-brand chart-container'">
				<div [class]="'kt-portlet__body--fluid'">
					<kt-echart15 *ngIf="chartData['chart15']" [chartData]="chartData['chart15']" [chartTitle]="'l1_d4_uptake_score_organization'" style="width: 100%"></kt-echart15>
				</div>
			</div>
			<div class="kt-space-20 page-break"></div>
			
			<h3>Societal Impact</h3>
			<!--<div *ngIf="chartData" [class]="'div--border-bottom-brand chart-container'">
				<div [class]="'kt-portlet__body--fluid'">
					<kt-table *ngIf="chartData['table5']" [chartTitle]="'l1_d4_innovations'" [chartData]="chartData['table5']" style="width: 100%"></kt-table>
				</div>
			</div>
			<div class="kt-space-20"></div>-->
			<div *ngIf="chartData"  [class]="'div--border-bottom-brand chart-container'">
				<div [class]="'kt-portlet__body--fluid'">
					<kt-echart16 *ngIf="chartData['chart16']" [chartData]="chartData['chart16']" [chartTitle]="'data_5_16'" style="width: 100%"></kt-echart16>
				</div>
			</div>			
			<div *ngIf="chartData"  [class]="'div--border-bottom-brand chart-container'">
				<div [class]="'kt-portlet__body--fluid'">
					<kt-echart18 *ngIf="chartData['chart17']" [chartData]="chartData['chart17']" [chartTitle]="'icd_to_trials'" style="width: 100%"></kt-echart18>
				</div>
			</div>
			<div class="kt-space-20 page-break"></div>
			<div *ngIf="chartData" [class]="'div--border-bottom-brand chart-container'">
				<div [class]="'kt-portlet__body--fluid'">
					<kt-echart19 *ngIf="chartData['chart18']" [chartData]="chartData['chart18']" [chartTitle]="'data_5_18'" style="width: 100%"></kt-echart19>
				</div>
			</div>

		</div>
	</div>
</div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	