:host {
	font-family: 'Poppins',Arial;
	::ng-deep {
		ngb-tabset > .nav-tabs {
			display: none;
		}
		.print-area {
			max-width: 1200px;
			width: 100%;
			margin:0 auto;
			h3 {
				margin-bottom: 10px;
			}
			.page-break {
				page-break-after : always;
			}
			.print-button-area {
				margin: 40px 0 30px;
			}
			.chart-container {
				margin-bottom: 4rem;
			}
		}
	}
}

.dashboard-container {
	position: relative;
}

@media print
{ 
	:host {		
		.print-button-area *
		{
			display: none !important;
		}
		.chart-container {
			margin-bottom: 20px;
		}
	}
}

