<!-- begin:: Footer -->
<div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
	<div class="kt-container" [ngClass]="{'kt-container--fluid': fluid}">
		<div class="kt-footer__copyright">
			<p>Data4Impact is a H2020 Project that has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No 770531. To learn more about the project, click <a href="http://www.data4impact.eu/" target="_blank">here</a>.</p>
		</div>
	</div>
</div>
<!-- end:: Footer -->
