kt-base {
	opacity: 0;
	height: 100%;

	.kt-grid--root {
		height: 100%;
	}
}


.kt-page--loaded {
	kt-base {
		opacity: 1;
		transition: opacity 1s ease-in-out;
	}
}

	.kt-demo-panel {
		position: absolute;
		left: -370px;
	}
	.kt-demo-panel--right .kt-demo-panel {
		/*right: auto;
		left: -90px;
		
		*/
		right: 0;
		left: auto;
		border-left: 1px solid #eee;
	}
	.kt-demo-panel--right .kt-demo-panel.kt-demo-panel--on {
		/*right: auto;
		left: 264px;*/
		right: -350px;
		left: auto;
	}

@media (min-width: 1024px) {
	.kt-header--fixed.kt-subheader--fixed.kt-subheader--enabled .kt-wrapper {
		padding-top: 65px; 
	}
}