:host {
	.kt-subheader__desc {
		margin: 0;		
	}
	.kt-container {
		.btn.btn-sm i {
			padding: 0;
		}
		.btn.inactive {
			color: #ddd;
			cursor: default;
		}
	}
	@media (min-width: 1024px) {	
		.kt-subheader {			
				display: none;
		}
	}
}
