<!-- begin:: Content Head -->
<div class="kt-subheader kt-grid__item" [ngClass]="{'kt-container--clear': clear}" [hidden]="subheaderService.disabled$ | async" id="kt_subheader">
	<div class="kt-container" [ngClass]="{'kt-container--fluid': fluid}">
		<div class="kt-subheader__main">
			<h3 *ngIf="title" class="kt-subheader__title"><span *ngIf="title !=='Report'">{{title}} </span><span *ngIf="desc">{{desc}}</span></h3>
		</div>
		<div>
			<a *ngIf="title =='Report'" [routerLink]="['/print-report', chartId]" class="btn btn-bold btn-sm btn-icon-h kt-margin-l-10" ngbTooltip="Download PDF Report" placement="bottom" >
				<i class="kt-menu__link-icon flaticon-download ng-star-inserted" ng-reflect-klass="kt-menu__link-icon" ng-reflect-ng-class="flaticon-download"></i>
			</a>
			<a *ngIf="title =='Report'" href="javascript:;" class="btn btn-bold btn-sm btn-icon-h kt-margin-l-0 inactive" ngbTooltip="Add to Favorites" placement="bottom" >
				<i class="kt-menu__link-icon flaticon-star ng-star-inserted" ng-reflect-klass="kt-menu__link-icon" ng-reflect-ng-class="flaticon-star"></i>
			</a>	
		</div>
	</div>
</div>
<!-- end:: Content Head -->
