/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~highlight.js/styles/googlecode.css";
@import "~nouislider/distribute/nouislider.min.css";
// header base skins
.kt-header-base-light {
	@import "sass/global/layout/header/skins/base/light.scss";
}
.kt-header-base-dark {
	@import "sass/global/layout/header/skins/base/dark.scss";
}

// header menu skins
.kt-header-menu-light {
	@import "sass/global/layout/header/skins/menu/light.scss";
}
.kt-header-menu-dark {
	@import "sass/global/layout/header/skins/menu/dark.scss";
}

// brand skins
.kt-brand-dark {
	@import "sass/global/layout/brand/skins/dark.scss";
}
.kt-brand-light {
	@import "sass/global/layout/brand/skins/light.scss";
}

// aside skins
.kt-aside-dark {
	@import "sass/global/layout/aside/skins/dark.scss";
}
.kt-aside-light {
	@import "sass/global/layout/aside/skins/light.scss";
}

// hide bootstrap dropdown arrow globally
.dropdown-toggle::after {
	display: none !important;
}

.mat-table__wrapper--dashboard .mat-table {
	min-width: 600px !important;
	width: 100% !important;
}

.position-static {
	position: static;
}

body .cdk-overlay-container {
	z-index: 1100;
}

.kt-echart > div {
	max-width: calc(100% - 50px);
	min-width: 500px;
	min-height: 500px;
	//min-width: 100%;
	width: 100%;
}
.kt-echart div {
	//width: 100%;
}
.kt-demo-panel {
	.mat-form-field-appearance-legacy .mat-form-field-label {
		color: rgba(0, 0, 0, 0.8);
	}
	.disabled-group {
		.mat-form-field-appearance-legacy .mat-form-field-label {
			opacity: 0.3;
		}
	}
}
/* Menu */
.kt-aside-dark .kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__heading .kt-menu__link-text, .kt-aside-dark .kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-text {
	color: #d2d2d8;
}

/* Bootstrap */
.nav.nav-pills .nav-item .nav-link {
    background-color: rgba(186, 190, 210, 0.2);
	font-size: 1.2rem;
}

/* Material */
.mat-mini-fab {
	span.mat-button-wrapper {
		padding: 1px 0;
		line-height: inherit;
	}
}

button.success.mat-mini-fab.mat-accent {
	background-color: #0abb87;
}

.reset-chart.mat-mini-fab {
	width: 20px;
	height: 20px;
	line-height: inherit;
	span.mat-button-wrapper {
		padding: 0;
	}
	i {
		font-size: 11px;
		position: relative;
		bottom: 1px;   
	}
}
.mat-list-base {
	.mat-list-option.mat-list-item {
		height: auto;
		min-height: 40px;
	}
	.mat-list-item-content.mat-list-item-content-reverse {
		min-height: 40px;
	}
}

/* Search Toolbar */
#cdk-overlay-1{
	width: 400px !important;
	#mat-autocomplete-2{
		.mat-option{
			.mat-option-text{
				font-size: 14px;
			}
		}
	}
}

/* Portfolio */

.portfolio {
	.kt-portlet__body--fluid {
	   > div { 
		width: 100%;
	   }
	}
}

.modal-list {
	max-height: calc(90vh - 220px);
	overflow-y: auto;
}

/* Guided tour */
body {
	ngx-guided-tour {
		.tour-step.tour-bottom .tour-block {
			border-radius: 5px;
			border-bottom: 3px solid rgba(45, 43, 85, 0.2);
			box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
		}
		.guided-tour-spotlight-overlay {
			border-radius: 4px;
			box-shadow: 0 0 0 9999px rgba(0,0,0,.1), 0 0 1.5rem rgba(0,0,0,.3);
		}
		.tour-step {
			h2.tour-title, .tour-title {
				font-size: 1.75rem;
				color: #2d2b55;
				font-weight: 500!important;
				margin-bottom: 0;
			}
			.tour-block {
				border-radius: 5px;
				border-bottom: 3px solid rgba(45, 43, 85, 0.2);
				box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
			}
			.tour-buttons {
				.next-button {
					background-color: #2d2b55;
					padding: 0.5rem 1rem;
					font-size: 0.875rem;
					line-height: 1.5;
					border-radius: 0.2rem;
					transition: opacity 0.3s;
				}
				.next-button:hover {
					background-color: #2d2b55;
					opacity: 0.8;
				}
				.back-button {
					color: #2d2b55;
				}
			}
		}
	}
}

/* User Profile on Landing */
.landing-menu {
	.register-container {
		button.btn.btn-primary {
			background-color: #fff;
			border: none;
			padding: 0.4rem 0.7rem;
			a {
				color: #2d2b55;
				font-size: 12px;
			}
		}
	}
	.kt-header__topbar-user {
		color: #fff;
		padding: 0 8px;
		display: flex;
		align-items: center;
		align-self: center;
		justify-content: center;
		height: 44px;
		cursor: pointer;
		border-radius: 4px;
	}
	.kt-header__topbar-item.show.dropdown {
		.dropdown-menu {
			position: absolute;
			top: 0;
			left: 0;
			will-change: transform;
			transform: translate(-248px, 64px);	
		}
	}
}

@media (max-width: 500px) {
	.kt-echart > div {
		min-width: 300px;
		min-height: 300px;
	}
}
@media (max-width: 799px) {
	.table-title {
		font-size: 14px;
		font-weight: 300;
	}
}	
@media (min-width: 1100px) {
	.kt-echart > div {
		min-height: 600px;
	}
}
@media (max-width: 1024px) {
	.nav.nav-pills .nav-item .nav-link {
		font-size: 1rem;
		margin-bottom: 10px;
		padding: 0.5rem 1rem;
	}
}

@media print {    
	html body {
        display: block;
		.kt-echart > div {
			page-break-inside: avoid;
			clear: both;
			float: none;
		}
    }
	
}