<div>
	<h4>Project Participation & Collaborations</h4>
	<div class="mb-5">
		<h5>See Collaborations across </h5>
		<form class="form-inline">				
			<select class="custom-select mr-2" id="input_collaborations" (change)="pickChart($event)" style="min-width: 300px; background-color: #fff; font-size: 16px;">
				<option value="none" selected>Choose...</option>
				<option value="icd10categories">Research Areas</option>
				<option value="countries">Countries</option>
				<option value="activity_types">Organization Sectors</option>
			</select>
			<!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="collaborations_button">Load collaborations</button>-->
		</form>
	</div>
</div>
<div class="kt-echart kt-echart8">
	<div class="kt-echart8__chart" #echart [hidden]="!loadChart">
	</div>
</div>
