@media (max-width: 1099px) {
	.kt-echart > div.kt-echart4__chart {
		min-height: 450px;
	}
}

@media (min-width: 1100px) {
	.kt-echart > div.kt-echart4__chart {
		min-height: 550px;
	}
}

.kt-echart4__chart div {
	width: 100%;
}