<!-- Row -->
<div class="row">
	<div class="col-md-4" *ngIf="returnedTopics">
		<kt-portlet [class]="'kt-portlet--border-bottom-brand'">
			<kt-portlet-body [class]="'kt-portlet__body--fluid'">
				<div>
					<div>					
						<h5 class="card-title mb-0 target" (click)="showmajorTopics()">
							<span>{{catList.field_name}}</span> &gt;
							<!--<i class="rotate flaticon2-left-arrow-1 "></i>-->
						</h5>
						<p><a [routerLink]="['/report' ,catList.field_slug]">&#187; Field Overview</a></p>
					</div>
				</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>
	<div class="col-md-4" *ngIf="majortopics">
		<kt-portlet [class]="'kt-portlet--border-bottom-brand'">
			<kt-portlet-body [class]="'kt-portlet__body--fluid'">
				<div>
					<div *ngFor="let majorCat of (catList.field_majors); let i = index">					
						<h5 class="card-title mb-0 target" [attr.data-index]="i" [ngClass]="{'active-cat': catSelected==i}" (click)="showsubTopics($event);catSelected=i">
							<span>{{majorCat.major_name}}</span> &gt;
						</h5>
						<p><a [routerLink]="['/report' , majorCat.major_slug]">&#187; Major Category Overview</a></p>
					</div>
				</div>
			</kt-portlet-body>
		</kt-portlet>
		<div id="scroll_to" style=""></div>
	</div>	
	<div class="col-md-4" *ngIf="subtopics">
		<kt-portlet [class]="'kt-portlet--border-bottom-brand'">
			<kt-portlet-body [class]="'kt-portlet__body--fluid'">
				<div>
					<input class="filter-input form-control mb-3" [(ngModel)]="searchText" placeholder="Filter results">
					<ul>
						<li class="minor-cat" *ngFor="let minorCat of (catList['field_majors'][currentTopicIndex]['major_minors']) | filterResults : searchText : 'minorCat'">
							<a [routerLink]="['/report' , minorCat.minor_slug]" attr.data-minorCat="{{minorCat.minor_slug}}">{{minorCat.minor_name}}</a>
						</li>
					</ul>
				</div>				
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>