ul {
	padding-left: 5px;
}

h5 {
	span {
		margin-right: 5px;
	}
}

.minor-cat {
	list-style: none;
	margin-bottom: 10px;
	a {
		transition: opacity 0.3s;
	}
}

.target {
	cursor: pointer;
	transition: opacity 0.3s;
}

.target:hover, .minor-cat:hover {
	opacity: 0.7;
}

.filter-input {
	display: inline-block;
	width: auto;
}

.rotate {
	display: inline-block;
	transform: rotate(180deg);
}

.active-cat {
	color: #0abb87;
}