.kt-table {
	position: relative;
	.table-icon {
		position: absolute;
		//max-width: 16px;
		width: 20px;
		height: 20px;
		top: 0;
		
		cursor: pointer;
	}
	.table {
		&-csv-icon {
			right: 22px;			
		}
		&-json-icon {
			right: -6px;
		}
	}

	.table-source {
		font-size: 0.88rem;
	}
}


