<div class="kt-table">
	<div class="" #table>
	</div>
	<img (click)="downloadCSV()" class="table-icon table-csv-icon" src="./assets/media/files/csv.png" alt="download csv">
	<img (click)="downloadJSON()" class="table-icon table-json-icon" src="./assets/media/files/json.png" alt="download json">
	<div class="table-source">
		Source: {{source}}
	</div>
</div>
