// import login css
@import "sass/pages/login/login-1";

kt-auth, .kt-login {
	height: 100%;

	.mat-form-field {
		width: 100%;
	}

	// add extra right padding when displaying spinner in button
	.kt-spinner {
		padding-right: 3rem !important;
	}
	.kt-login {
		&__logo {
			img {
				max-width: 130px;
			}
		}
		&__copyright {
			a {
				color: #fff;
				transition: opacity 0.3s;
				&:hover {				
					opacity: 0.8;
				}
			}
		}
	}
}
